<p>Add a new value for your water meter!</p>
<p>
	<form name="sensorValueForm">
		<input type="text" 
		       id="sensorValueTextInput"
		       name="sensorValueText"
		       ng-pattern="/^\d+[.]\d{3}$/"
		       ng-model="sensorValueText" 
		       ng-click="sensorValueInputSelected()"
		       required/>
		<span class="error" ng-show="sensorValueForm.sensorValueText.$error.required">
          Cannot be empty!</span>
        <span class="error" ng-show="sensorValueForm.sensorValueText.$error.pattern">
          Enter a correct value!</span>
		<input type="button" 
			   value="+"
			   id="incrementButton" 
			   ng-disabled="sensorValueForm.$invalid"
			   ng-click="increment()"/>
		<input type="button" 
			   value="-" 
			   id="decrementButton"
			   ng-disabled="sensorValueForm.$invalid"
			   ng-click="decrement()"/>
		<input type="submit" 
		       value="Save" 
		       id="saveValueButton"
		       ng-disabled="sensorValueForm.$invalid"
		       ng-click="addNew()"/>
	</form>
	
	<span id="usageSpan" ng-show="usage != null">
          You used: {{usage}} m3 of water.</span>
    <br/>
    <span id="usageSpan" ng-show="usage != null">
          It costs you: {{priceForUsage}} EUR.</span>
</p>	
