<p>Change your settings.</p>
<p>
  <form name="settingsForm">
  		<label>Price for 1 m3 in EUR:</label><br/>
		<input type="text" 
		       id="unitPriceInput"
		       name="unitPriceInput"
		       ng-pattern="/^\d+[.]\d{3}$/"
		       ng-model="unitPrice" 
		       required/><br/>
		<span class="error" ng-show="settingsForm.unitPriceInput.$error.required">
          Please set a price!</span><br/>
        <span class="error" ng-show="settingsForm.unitPriceInput.$error.pattern">
          Enter a correct value!</span><br/>
		<input type="submit" 
		       value="Save" 
		       id="saveSettingsButton"
		       ng-disabled="settingsForm.$invalid"
		       ng-click="saveSettings()"/>
		{{statusMessage}}
	</form>
</p>
